<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Anderson Games">
    <meta name="description" content="Encontre pontos de coleta de resíuos de forma eficiente">
    <meta name="keywords" content="ecoleta, resíduos, coleta, lixo">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">

    <title>Ecoleta</title>
</head>
<body>

    <div id="page-home">

    </div>

</body>
</html>