#page-create-point {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;

    header {
        margin-top: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        a {
            color: $title-color;
            font-weight: bold;
            display: flex;
            align-items: center;

            span {
                margin-right: 16px;;
                background-image: url(../assets/arrow-left.svg);
                display: flex;
                width: 20px;
                height: 24px;
            }
        }
    }

    form {
        background-color: white;
        margin: 80px auto;
        padding: 64px;
        border-radius: 8px;
        max-width: 730px;

        h1 {
            font-size: 36px;
        }

        fieldset {
            margin-top: 64px;
            border: 0;

            legend {
                margin-bottom: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                h2 {
                    font-size: 24px;
                }
                span {
                    font-size: 14px;
                    color: $title-color;
                }
            }
        }

        div.field-group {
            display: flex;

            div.field {
                label {
                    font-size: 14px;
                    margin-bottom: 8px;
                }
    
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;
    
                input, select {
                    background-color: $background-color;
                    border: 0;
                    padding: 16px 24px;
                    font-size: 16px;
                    border-radius: 8px;
                    /*outline: none;*/
                }
    
                select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
            }

            .field + .field {
                margin-left: 24px;
            }
        }

        div.button {
            display: flex;
            margin-top: 28px;

            button {
                width: 260px;
                height: 56px;
                background-color: $primary-color;
                border-radius: 8px;
                color: white;
                font-weight: bold;
                font-size: 16px;
                border: 0;
                margin-top: 40px;
                transition: background-color 400ms;
    
                &:hover {
                    background-color: #2fb86e;
                    cursor: pointer;
                }
        }

        }

        fieldset div.items-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 16px;

            li {
                background-color: #f5f5f5;
                list-style: none;
                border: 2px solid #f5f5f5;
                border-radius: 8px;
                height: 180px;
                padding: 32px 24px 16px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                text-align: center;
                cursor: pointer;

                img {
                    pointer-events: none;
                }

                span {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    color: $title-color;
                    pointer-events: none;
                }

                &.selected {
                    background-color: #e1faec;
                    border: 2px solid #34cb79;
                }
            }
        }
    }
}