@media (max-width: 900px) {
    #page-home{
        background-position-x: 70vw;

        div.content {
            align-items: center;
            text-align: center;

            header {
                a {
                    position: absolute;
                    bottom: 42px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        main {
            align-items: center;
        }
    }

    #page-create-point form div.field-group {
        flex-direction: column;

        .field + .field{
            margin-left: 0;
        }
    }

    #page-search-results main {

            div.cards {
                grid-template-columns: 1fr 1fr;

                div.card img{
                    height: 200px;
                }
            }
    }
}

@media (min-width: 1700px) {
    #page-home{
        background-position-x: 40vw;
    }
}

@media (max-width: 720px) {
    #page-search-results main {

        div.cards {
            grid-template-columns: 1fr;

            div.card img{
                height: 250px;
            }
        }
    }
}

@media (max-width: 770px) {
    #page-create-point form fieldset div.items-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-height: 760px) {
    #page-home{
        background-position-y: 100px;
    }
}

@media (max-width: 540px) {
    #page-create-point form fieldset div.items-grid {
        grid-template-columns: 1fr;
    }
}