@media (max-width: 900px) {
    #page-home{
        background-position-x: 70vw;

        div.content {
            align-items: center;
            text-align: center;

            header {
                flex-direction: column;

                a {
                    margin: 64px 0 48px 0;
                    /*position: absolute;
                    bottom: 48px;
                    left: 50%;
                    transform: translateX(-50%);*/
                }
            }

            main {
                align-items: center;
    
                h1 {
                    margin-top: -10px;
                    font-size: 48px;
                }
            }
        }
    }

    #page-create-point form div.field-group {
        flex-direction: column;

        .field + .field{
            margin-left: 0;
        }
    }

    #page-search-results main {

            div.cards {
                grid-template-columns: 1fr 1fr;

                div.card img{
                    height: 200px;
                }
            }
    }
}

@media (min-width: 1700px) {
    #page-home{
        background-position-x: 40vw;
    }
}

@media (max-width: 720px) {
    #page-create-point form h1 {
        font-size: 32px;
    }

    #page-search-results main {

        div.cards {
            grid-template-columns: 1fr;

            div.card img{
                height: 250px;
            }
        }
    }
}

@media (max-width: 770px) {
    #page-create-point form fieldset div.items-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-height: 760px) {
    #page-home{
        background-position-y: 100px;
    }
}

@media (max-width: 540px) {
    #page-home div.content main {

        h1 {
            font-size: 38px;
        }

        p {
            font-size: 22px;
        }
    }

    #page-create-point form fieldset div.items-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    #page-create-point {  
        header {
            flex-direction: column;

            a {
                margin: 64px 0 48px 0;
            }
        }

        fieldset legend {
            display: flex;
            flex-direction: column;

            span {
                margin: 24px 0 18px 0;
            }
        }
    }
}