* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #322153;
}

a {
  text-decoration: none;
}

#page-home {
  height: 100vh;
  background: url("../assets/home-background.svg") no-repeat;
  background-position: 40vw bottom;
}

#page-home div.content {
  width: 90%;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#page-home div.content header {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page-home div.content header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #322153;
  font-weight: 700;
}

#page-home div.content header a span {
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../assets/log-in.svg);
  width: 20px;
  height: 20px;
}

#page-home div.content main {
  max-width: 560px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page-home div.content main h1 {
  font-size: 54px;
}

#page-home div.content main p {
  font-size: 24px;
  line-height: 38px;
  margin-top: 24px;
}

#page-home div.content main a {
  width: 100%;
  max-width: 360px;
  height: 72px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  background-color: #34cb79;
  -webkit-transition: 400ms;
  transition: 400ms;
}

#page-home div.content main a:hover {
  background-color: #2fb86e;
}

#page-home div.content main a span {
  width: 72px;
  height: 72px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page-home div.content main a span::after {
  content: "";
  background-image: url(../assets/search.svg);
  width: 20px;
  height: 20px;
}

#page-home div.content main a strong {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  text-align: center;
}

#page-create-point {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

#page-create-point header {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-create-point header a {
  color: #322153;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-create-point header a span {
  margin-right: 16px;
  background-image: url(../assets/arrow-left.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 24px;
}

#page-create-point form {
  background-color: white;
  margin: 80px auto;
  padding: 64px;
  border-radius: 8px;
  max-width: 730px;
}

#page-create-point form h1 {
  font-size: 36px;
}

#page-create-point form fieldset {
  margin-top: 64px;
  border: 0;
}

#page-create-point form fieldset legend {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#page-create-point form fieldset legend h2 {
  font-size: 24px;
}

#page-create-point form fieldset legend span {
  font-size: 14px;
  color: #322153;
}

#page-create-point form div.field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page-create-point form div.field-group div.field {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
}

#page-create-point form div.field-group div.field label {
  font-size: 14px;
  margin-bottom: 8px;
}

#page-create-point form div.field-group div.field input, #page-create-point form div.field-group div.field select {
  background-color: #f0f0f5;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  border-radius: 8px;
  /*outline: none;*/
}

#page-create-point form div.field-group div.field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#page-create-point form div.field-group .field + .field {
  margin-left: 24px;
}

#page-create-point form button {
  width: 260px;
  height: 56px;
  background-color: #34cb79;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  margin-top: 40px;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}

#page-create-point form button:hover {
  background-color: #2fb86e;
  cursor: pointer;
}

#page-create-point form fieldset div.items-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

#page-create-point form fieldset div.items-grid li {
  background-color: #f5f5f5;
  list-style: none;
  border: 2px solid #f5f5f5;
  border-radius: 8px;
  height: 180px;
  padding: 32px 24px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  cursor: pointer;
}

#page-create-point form fieldset div.items-grid li img {
  pointer-events: none;
}

#page-create-point form fieldset div.items-grid li span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #322153;
  pointer-events: none;
}

#page-create-point form fieldset div.items-grid li.selected {
  background-color: #e1faec;
  border: 2px solid #34cb79;
}

#modal {
  background-color: #0e0a14ef;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 400ms;
  transition: 400ms;
  /* Modal point-created */
}

#modal.hide {
  display: none;
}

#modal div.content {
  color: white;
  width: 420px;
}

#modal div.content div.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}

#modal div.content div.header h1 {
  color: white;
  font-size: 36px;
  line-height: 42px;
}

#modal div.content div.header a {
  background-image: url(../assets/x.svg);
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.01px;
}

#modal div.content form label {
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 8px;
}

#modal div.content form div.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#modal div.content form div.field input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f0f0f5;
  border-radius: 8px 0 0 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6c6c80;
}

#modal div.content form div.field button {
  width: 72px;
  height: 72px;
  background-color: #34cb79;
  border: 0;
  border-radius: 0 8px 8px 0;
}

#modal div.content form div.field button:hover {
  background-color: #2fb85e;
  cursor: pointer;
}

#modal.point div.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal.point div.content h1 {
  margin-top: 32px;
  color: white;
}

#page-search-results {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

#page-search-results header {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-search-results header a {
  color: #322153;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-search-results header a span {
  margin-right: 16px;
  background-image: url(../assets/arrow-left.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 24px;
}

#page-search-results main {
  margin: 48px;
}

#page-search-results main h4 {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  margin-bottom: 32px;
}

#page-search-results main div.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

#page-search-results main div.cards div.card img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}

#page-search-results main div.cards div.card h1 {
  margin-top: 32px;
  font-size: 36px;
  line-height: 41px;
  color: #322153;
}

#page-search-results main div.cards div.card h3 {
  margin: 24px 0;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 34px;
  color: #34cb79;
}

#page-search-results main div.cards div.card p {
  font-size: 16px;
  line-height: 26px;
  color: #6c6c80;
}

@media (max-width: 900px) {
  #page-home {
    background-position-x: 70vw;
  }
  #page-home div.content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #page-home div.content header a {
    position: absolute;
    bottom: 48px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #page-home main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #page-create-point form div.field-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #page-create-point form div.field-group .field + .field {
    margin-left: 0;
  }
  #page-search-results main div.cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #page-search-results main div.cards div.card img {
    height: 200px;
  }
}

@media (min-width: 1700px) {
  #page-home {
    background-position-x: 40vw;
  }
}

@media (max-width: 720px) {
  #page-search-results main div.cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #page-search-results main div.cards div.card img {
    height: 250px;
  }
}

@media (max-width: 770px) {
  #page-create-point form fieldset div.items-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-height: 760px) {
  #page-home {
    background-position-y: 100px;
  }
}

@media (max-width: 540px) {
  #page-create-point form fieldset div.items-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=main.css.map */