body {
    background-color: white;
}

body::after {
    content: "";
    position: absolute;
    background-color: #f0f0f5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 16rem;
    z-index: -1;
}