#page-home{
    height: 100vh;
    background: url('../assets/home-background.svg') no-repeat;
    background-position: 35vw bottom;

    div.content {
        width: 90%;
        max-width: 1100px;
        margin: 0 auto;
    
        header {
            padding-top: 48px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a{
                display: flex;
                color: $title-color;
                font-weight: 700;

                span{
                    margin-right: 16px;
                    display: flex;
                    background-image: url(../assets/log-in.svg);
                    width: 20px;
                    height: 20px;
                }
            }
        }

        main {
            max-width: 560px;

            h1 {
                font-size: 54px;
            }
        }
    }
}