@media (max-width: 900px) {
    #page-home{
        background-position-x: 70vw;

        div.content {
            align-items: center;
            text-align: center;

            header {
                a {
                    position: absolute;
                    bottom: 48px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        main {
            align-items: center;
        }
    }
}